<a href="https://colab.research.google.com/github/Theofilz/Assignment/blob/main/Assignment_05_05_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#program to remove all the occurrences of item 42
num = [1, 2, 42, 4, 5, 6, 42, 42, 9, 42]
while 42 in num:
    num.remove(42)
print(num)

[1, 2, 4, 5, 6, 9]

In [20]:
# program to turn every item of a list into its square
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares = []
for number in numbers:
    squares.append(number ** 2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#dictionaries

countries = {
    "Germany" : "Berlin",
    "Nigeria" : "Abuja",
    "Ghana" : "Accra",
    "USA" : "Washington DC"
  }
print(countries)

{'Germany': 'Berlin', 'Nigeria': 'Abuja', 'Ghana': 'Accra', 'USA': 'Washington DC'}

In [ ]:
for country, capital in countries.items():
  print("The capital of", country, "is", capital)

The capital of Germany is Berlin
The capital of Nigeria is Abuja
The capital of Ghana is Accra
The capital of USA is Washington DC

In [18]:
#delete the countries you have been to
del countries['Ghana']
print(countries)

{'USA': 'Washington DC'}

In [21]:
del countries["USA"]
print(countries)

{}

In [ ]:

numbers = {}