<a href="https://colab.research.google.com/github/Theofilz/Assignment/blob/main/exercises_with_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**#01 Exercise: Combine lists**

Combine the two given lists into a new list called *healthy_food*.

In [ ]:
fruits = ["apple", "banana", "pineapple", "grapes", "pear", "watermelon"]
vegetables = ["cucumber", "tomato", "eggplant", "corn", "peas", "zucchini"]

healthy_food = fruits + vegetables
print(healthy_food)

['apple', 'banana', 'pineapple', 'grapes', 'pear', 'watermelon', 'cucumber', 'tomato', 'eggplant', 'corn', 'peas', 'zucchini']

**#02 Exercise: 2D - lists**

Create a 2D-list that contains at least three items and their price.

- Oops, you forgot one item! Add "banana" and its price 2.99 to your list.

- The price for bananas has changed! Set the price of banana to 3.50.

- Insert "apple" (price: 1.50) as the second item to your list.

In [ ]:
list = [["pineapple", 4.50], ["grapes", 3.99], ["watermelon", 5.99]]

list.append(["banana", 2.99])
list[3][1] = 3.50
list.insert(1, ["apple", 1.50])

print(list)

[['pineapple', 4.5], ['apple', 1.5], ['grapes', 3.99], ['watermelon', 5.99], ['banana', 3.5]]

**#03 Exercise: Coordinates**

Degine a function that takes in a coordinate (containing a x and y value) and stores them in a tuple.

In [ ]:
def convert_to_tuple(x, y):
  return (x, y)

print(convert_to_tuple(3, 5))

(3, 5)

**#04 Exercise: Convert list to dictionary**

Convert the 2D list from the second exercise into a dictionary

In [ ]:
dictionary = {key: value for key, value in list}

print(dictionary)

{'pineapple': 4.5, 'apple': 1.5, 'grapes': 3.99, 'watermelon': 5.99, 'banana': 3.5}

**#05 Exercise: Scrabble**

1. Complete the following dictionary that contains the letters of the alphabet and a score for each letter.

2. Define a function that takes in a word and returns a total score based on the score for each letter in that word (based on the dictionary)


**BONUS:** Modify your function so it can handle lowercase input as well.

In [ ]:
letters_and_scores = {
    "A":1, "B":2, "C":3, "D":2, "E":1, "F":2, "G":2, "H":3, "I":1, "J":3, "K":3, "L":2, "M":2, "N":2, "O":1, "P":3,
    "Q":5,
    "R":3,
    "S":2,
    "T":2,
    "U":3,
    "V":4,
    "W":3,
    "X":5,
    "Y":6,
    "Z":5
}

def get_score(word):
  total_score = 0
  for letter in word:
    total_score += letters_and_scores[letter.upper()]
  return total_score

print(get_score("Python"))

17

In [4]:
import random
def guess_number():
  guessedNumber = random.randint(0,100)
  print(guessedNumber)

  while True:
    userInput = int(input("Guess a number: "))
    if userInput ==guessedNumber:
      print("That is correct: Congrats!")
      break
    else:
      print("I'm sorry, but that is not the correct number")


guess_number()

60
Guess a number: 59
I'm sorry, but that is not the correct number
Guess a number: 60
That is correct: Congrats!