<a href="https://colab.research.google.com/github/Theofilz/Assignment/blob/main/Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 3 variables that do NOT have the correct naming convention
Maximum_number = 100
2maximum_number = 100
maximum_Number = 100

In [ ]:
# 3 variables that do have the correct naming convention
maximum_number = 100
name = 'Peter'
is_tall = True

In [ ]:
# 2 examples of an integer
number_of_persons = 20
age = 60

In [ ]:
# 2 examples of a float
height = 132.3
weight = 65.3

In [ ]:
# 2 examples of string
name = 'Peter'
color = "red"

In [ ]:
# 2 examples of boolean
is_tall = True
not_good = False

In [2]:
#example of addition
print(1 + 2)

3

In [3]:
# example of subtraction
print(20 - 15)

5

In [4]:
# example of multiplication
print(12 * 2)

24

In [5]:
# example of division
print(24 / 4)

6.0

In [6]:
# example of modulo
print(20 % 18)

2

In [7]:
# example of exponential
print(5 ** 5)

3125