<a href="https://colab.research.google.com/github/Theofilz/Assignment/blob/main/ReDI_Python_Course_Lesson_8_Lists_Students_Version.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Lists

Lists represent a collection of elements. These elements are usually of the same type, but can also be of different types.  
  
Lists in Python are
* ordered
* indexed
* mutable
* and may contain duplicate entries.

### How to define lists
  
We use square brackets [ ] to define a list.

In [ ]:
# an empty list
my_list = []
print(my_list)

# a list of strings
animals = ['cat', 'dog', 'fish', 'bison']
print(animals)

# a list of integers
numbers = [1, 7, 34, 20, 12, 7]
print(numbers)

# a list with mixed entries
mix = [42, 'lion', True, 3.1415]
print(mix)

[]
['cat', 'dog', 'fish', 'bison']
[1, 7, 34, 20, 12, 7]
[42, 'lion', True, 3.1415]

### Indexes
Each element has an index, starting from **0** (**NOT 1!**). We can get the corresponding entry by specifying the index in square brackets.

In [ ]:
cities = ['Berlin', 'Munich', 'Paris']
print('index 0:', cities[0])
print('index 1:', cities[1])
print('index 2:', cities[2])

index 0: Berlin
index 1: Munich
index 2: Paris

We can assign new entries to a list using the index.

In [ ]:
cities[1] = 'Rome'
print(cities)
cities[2] = 'London'
print(cities)

['Berlin', 'Rome', 'Paris']
['Berlin', 'Rome', 'London']

### Adding elements to an (empty) list
Recap: How do you declare an empty list?

In [ ]:
my_list = []
print(my_list)

[]

And how you add new elements to the list?

In [ ]:
my_list.append('Berlin')
print(my_list)

['Berlin']

In [ ]:
my_list.append('Paris')
print(my_list)

['Berlin', 'Paris']

Now, add your hometown to my_list. How many cities are in the list? Print those cities using indexes.

In [ ]:
my_hometown = 'enter_your_hometown_here'

# solution
my_list.append(my_hometown)
print('index 0:', my_list[0])
print('index 1:', my_list[1])
print('index 2:', my_list[2])

index 0: Berlin
index 1: Paris
index 2: enter_your_hometown_here

### Built-in functions
Find the index of a value. If the value appears more than once, we will get the index of the first one. Weâ€™ll get an error if the value is not on the list.

In [ ]:
# a list of integers
numbers = [1, 7, 34, 20, 12, 7]
numbers.index(7)  # 7 is in list twice

1

In [ ]:
numbers.index(3)  # does not work as 3 is not in list

ValueError: ignored

Insert a value at a particular index. Existing entries will be shifted.

In [ ]:
numbers = [1, 7, 34, 20, 12, 7]
print(numbers)
numbers.insert(0, 45)  # insert 45 at the beginning (index = 0) of the list
print(numbers)

[1, 7, 34, 20, 12, 7]
[45, 1, 7, 34, 20, 12, 7]

In [ ]:
numbers.insert(2, 31)  # insert 31 at index = 2
print(numbers)

[45, 1, 31, 7, 34, 20, 12, 7]

Remove an element by its value.

In [ ]:
numbers.remove(12)
print(numbers)

[45, 1, 31, 34, 20, 7]

If the value appears more than once, only the first one will be removed.

In [ ]:
numbers.remove(7)
print(numbers)

[45, 1, 31, 34, 20, 12, 7]

### Handy functions
We can join multiple lists via the + operator.

In [ ]:
list_1 = ['a', 'b']
list_2 = ['c', 'd']
list_3 = ['e', 'f']
list_4 = list_1 + list_2 + list_3
print(list_4)

['a', 'b', 'c', 'd', 'e', 'f']

You can get the number of characters in a string by the len() function.
Similarly, you can use the len() function to get the number of items in a list.

In [ ]:
my_string = 'chocolate'
print('my_string contains', len(my_string), 'characters')
ingredients = ['flour', 'butter', 'sugar', 'eggs', 'chocolate']
print('ingredients contains', len(ingredients), 'elements')

my_string contains 9 characters
ingredients contains 5 elements

You can enumerate the items in a list using the enumerate() function:

In [ ]:
# without enumerate()
for item in ingredients:
  print(item)

flour
butter
sugar
eggs
chocolate

In [ ]:
# with enumerate()
for number, item in enumerate(ingredients):
  print(number, item)

0 flour
1 butter
2 sugar
3 eggs
4 chocolate

This also works with strings:

In [ ]:
# with enumerate()
for number, item in enumerate('flour'):
  print(number, item)

0 f
1 l
2 o
3 u
4 r

### Slicing and Indexing

Let's define a list containing the first nine letters of the alphabet.

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

We can get a slice of the list by specifying the first index and last index of the slice in square brackets separated by a colon. The first index specified is included in the slice, the last index is not.

In [ ]:
print(letters[2:])

['c', 'd', 'e', 'f', 'g', 'h', 'i']

In [ ]:
print(letters[:5])

['a', 'b', 'c', 'd', 'e']

In [ ]:
print(letters[2:7])

['c', 'd', 'e', 'f', 'g']

If we just give a colon, the entire list will be returned.

In [ ]:
print(letters[:])

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

Similarly, we can specify negative indexes, i.e. we start counting from the back of the list.

In [ ]:
print(letters[-1])

i

In [ ]:
print(letters[-7:-2])

['c', 'd', 'e', 'f', 'g']

We can also specify a stepsize, similar to the range function.

In [ ]:
#remember
for number in range(1,8,2):
  print(number)

1
3
5
7

In [ ]:
letters[2:7:2]

['c', 'e', 'g']

We can reverse a list by leaving the first and last index empty and specifying -1 as stepsize.

In [ ]:
letters[::-1]

['i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

This can also be achieved by the implented function .reverse().  
However, this operation modifies the object and does not return a new object!

In [ ]:
letters.reverse()
print(letters)

['i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

Question: What does the next cell return?

In [ ]:
letters[::-2]

['a', 'c', 'e', 'g', 'i']

Answer: The entire list with stepsize 2 starting from the end (specified by the - sign).

### Exercises
  
Exercise 1
  
* Create an empty list called students_names.
* Add to this list all the names of the students present in class today.
* Print the whole list.
* Print student on the position 2 of your list. Who is it?
* Print student on the position 15 of your list. What happened?
  
Exercise 2

* Create a non-empty list containing 3 names of your favourite musicians or music bands. How will you call this list?
* Check who is on position 0, who on 1 and who on position 2.
* Add 2 more musicians or bands to the list.
* Print the whole list. Print the two new musicians/bands on your list using indexes.
* Bonus 1: Replace the artist on position 2 with 'The Beatles' and print the entire list.
* Bonus 2: Arrange the list in descending order using indexes so that your most favourite musician/band is on position 0.
* Hint: remember the function *list.insert(position, 'band_name')*

### Homework
  
1. Given a list of numbers, write a program to turn every item of a list into its square.

In [ ]:
input = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
output = []
# do something
print(output)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

2. Given a Python list, write a program to remove all occurrences of item 42.

In [ ]:
input = [1, 2, 42, 4, 5, 6, 42, 42, 9, 42]
output = []
# do something
print(output)

[1, 2, 4, 5, 6, 9]

3. Quiz: to be found on Scalando