<a href="https://colab.research.google.com/github/Theofilz/Assignment/blob/main/ReDI_Python_Course_Lesson_10_Tuples_Students_version_(after_lesson).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework from lesson 9
* Create shopping_list, with list of all the things that you need to buy, e.g. cheese, apple and banana.  
* Create dictionary shop, where keys are product names, e.g. apple or banana, and values is how many items there are in the shop.  
* Create dictionary prices, where keys are products and values are prices of the products.  
* Calculate the remaining number of items in the shop and calculate a price of products from your shopping list.

In [ ]:
shopping_list = ['apple', 'banana', 'coffee']
shop = {'apple': 100, 'banana': 200, 'coffee': 50}
prices = {'apple': 2.99, 'banana': 1.49, 'coffee': 19.99}
total_price = 0
for item in shopping_list:
  shop[item] = shop[item] - 1
  total_price = total_price + prices[item]
print('The shop contains these quantities of items:', shop)
print('The total price for your shopping list is:', total_price)

The shop contains these quantities of items: {'apple': 99, 'banana': 199, 'coffee': 49}
The total price for your shopping list is: 24.47

# Recap of dictionaries and sets

### Dictionaries
* What is a dictionary?
* How do you define a dictionary?
* How do you get elements of a dictionary?
* How do you add an element to a dictionary?
* How do you remove a element from a dictionary?

In [ ]:
# define
my_dict = {'animal': 'cat', 'food': 'pizza', 'drink': 'beer'}
print(my_dict)

{'animal': 'cat', 'food': 'pizza', 'drink': 'beer'}

In [ ]:
# get element
my_dict.get('animal')

'cat'

In [ ]:
# add
my_dict['hobby'] = 'cycling'
print(my_dict)

{'animal': 'cat', 'food': 'pizza', 'drink': 'beer', 'hobby': 'cycling'}

In [ ]:
# remove
my_dict.pop('food')
print(my_dict)

{'animal': 'cat', 'drink': 'beer', 'hobby': 'cycling'}

### Sets
* What is a set?
* How do you define a set?
* How do you get elements of a set?
* How do you add a element to a set?
* How do you remove a element from a set?

In [ ]:
# define
my_set = {1, 2, 3, 4, 5, 5, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
# get element
for item in my_set:
  print(item)

1
2
3
4
5

In [ ]:
# add
my_set.add(42)
print(my_set)

{1, 2, 3, 4, 5, 42}

In [ ]:
# remove
my_set.remove(4)  # you may also use my_set.pop()
print(my_set)

{1, 2, 3, 5, 42}

In [ ]:
my_set.pop()
print(my_set)

{2, 3, 5, 42}

# Tuples

Python has another sequence type which is called tuple.  
We define a tuple literal by putting a comma-separated list of values inside round brackets, ( and ):

In [ ]:
empty_tuple = ()
print(empty_tuple)

()

In [ ]:
weekdays = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
print(weekdays)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [ ]:
print(type(weekdays))

<class 'tuple'>

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

In [ ]:
weekdays[1] = 'TODAY'  # does not work

TypeError: ignored

If the variable weekdays was a list, this would work, as lists are mutable.

In [ ]:
weekdays_as_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
print(weekdays_as_list)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [ ]:
print(type(weekdays_as_list))

<class 'list'>

In [ ]:
weekdays_as_list[1] = 'TODAY'
print(weekdays_as_list)

['Monday', 'TODAY', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

To create a tuple with only a single entry, you have to give a comma after the entry.

In [ ]:
not_a_tuple = ('no')
print(type(not_a_tuple))

<class 'str'>

In [ ]:
this_is_a_tuple = ('yes', )
print(type(this_is_a_tuple))

<class 'tuple'>

We can create a tuple directly or from an existing list using the tuple() function.

In [ ]:
animal_tuple = ('cat', 'dog', 'fish')
print(animal_tuple)

('cat', 'dog', 'fish')

In [ ]:
animal_list = ['cat', 'dog', 'fish']
animal_tuple = tuple(animal_list)
print(animal_tuple)

('cat', 'dog', 'fish')

As with lists, you can join tuples via the + operator.

In [ ]:
animal_tuple_2 = ('lion', 'tiger', 'cat')
all_animals = animal_tuple + animal_tuple_2
print(all_animals)

('cat', 'dog', 'fish', 'lion', 'tiger', 'cat')

As with lists, there are a lot of functions for tuples.

In [ ]:
print('occurences of cat:', all_animals.count('cat'))
print('index of cat:', all_animals.index('cat'))
print('entries in tuple:', len(all_animals))
print('sorted tuple (became a list!):', sorted(all_animals))

occurences of cat: 2
index of cat: 0
entries in tuple: 6
sorted tuple (became a list!): ['cat', 'cat', 'dog', 'fish', 'lion', 'tiger']

Workaround to change a value inside a tuple:
* convert the tuple into a list
* modify the list
* convert the list into a tuple

In [ ]:
my_tuple = ('apple', 'banana', 'cherry')
my_list = list(my_tuple)
my_list[1] = 'kiwi'
my_tuple = tuple(my_list)
print(my_tuple)

('apple', 'kiwi', 'cherry')

### Exercises
  
Exercise 1
* Create a tuple a which contains the first four positive integers and a tuple b which contains the next four positive integers in descending order.
* Create a tuple c which combines all the numbers from a and b in any order.
* Create a tuple d which is a sorted copy of c.
* Print the third element of d. 
* Print the last three elements of d.

In [ ]:
# Solution
tuple_a = (1, 2, 3, 4)
tuple_b = (8, 7, 6, 5)
tuple_c = tuple_a + tuple_b
print(tuple_c)
tuple_d = sorted(tuple_c)
print(tuple_d)
tuple_d = tuple(tuple_d)
print(tuple_d)
print('third element:', tuple_d[2])
print('last three elements:', tuple_d[-3:])

(1, 2, 3, 4, 8, 7, 6, 5)
[1, 2, 3, 4, 5, 6, 7, 8]
(1, 2, 3, 4, 5, 6, 7, 8)
third element: 3
last three elements: (6, 7, 8)

Exercise 2  
* Define a function called *my_weekly_food* which takes a list of foods as argument. This list should contain seven items.  
* Inside the function, the seven days of the week should be defined as tuple.  
* The output of the function should be a print statement for each of the seven days and foods like: *'I eat apples on Monday.'*
  
* **BONUS**: Check that the list of foods contains exactly seven entries and abort if this is not the case.

In [ ]:
def my_weekly_food(food_list):
  weekdays = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

  # solution A, not recommended
  print('Solution A')
  counter = 0
  for i in range(len(weekdays)):
    print('I eat ' + food_list[counter] + ' on ' + weekdays[counter] + '.')
    counter += 1
  # soultion B, recommended but more advanced
  print('Solution B')
  for food, day in zip(food_list, weekdays):
    print('I eat ' + food + ' on ' + day + '.')

In [ ]:
my_food = ['apples', 'bananas', 'cherries', 'dates', 'eggplants', 'figs', 'grapes']
my_weekly_food(my_food)

Solution A
I eat apples on Monday.
I eat bananas on Tuesday.
I eat cherries on Wednesday.
I eat dates on Thursday.
I eat eggplants on Friday.
I eat figs on Saturday.
I eat grapes on Sunday.
Solution B
I eat apples on Monday.
I eat bananas on Tuesday.
I eat cherries on Wednesday.
I eat dates on Thursday.
I eat eggplants on Friday.
I eat figs on Saturday.
I eat grapes on Sunday.

### Something completely different: String formatting

Rather than writing something like this:

In [ ]:
name = 'Alice'
city = 'London'
age = 21

print('Hello, my name is ' + name + '. I live in ' + city + '. I am ' + str(age) + ' years old.')

Hello, my name is Alice. I live in London. I am 21 years old.

Use a so-called f-string. You define a f-string by simply writing an “f” without quotation marks in front of the string. You can then give variables to the string in curly brackets:

In [ ]:
print(f'Hello, my name is {name}. I live in {city}. I am {age} years old.')

Hello, my name is Alice. I live in London. I am 21 years old.

Note that you also don't have to worry about converting the integer to string first.

### Homework

1 Write a program to accept a number from the user and store first 10 multiples of number in a tuple, for example:

In [ ]:
# your code here

Please enter your number: 5
The tuple is: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50

2 Write a program to concatenate all characters from a tuple into a single string, for example:

In [ ]:
# your code here

('p', 'i', 'z', 'z', 'a')
pizza

**BONUS**: Consider that the tuple may contain non-string items.  
3 Quiz on Scalando